.card__container {
  position: relative;
  cursor: pointer;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  .card__item {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .info__container {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0%;
    right: 0%;

    overflow: hidden;
    a {
      all: unset;
    }
    .card__author {
      background-color: #000;
      position: absolute;
    }
  }
  @media screen and (max-width: 786px) {
    .card__author {
      bottom: 0%;
      right: 0%;
    }
  }
}

.horizontal {
  grid-column: span 2;
  &-L {
    grid-column: span 2;
  }
  &-XL {
    grid-column: span 3;
  }
}
.vertical {
  grid-row: span 2;
  &-L {
    grid-row: span 3;
  }
  &-XL {
    grid-row: span 4;
  }
}
.square {
  &-S {
    grid-column: span 1;
    grid-row: span 1;
  }
  &-L {
    grid-column: span 2;
    grid-row: span 2;
  }
  &-XL {
    grid-column: span 3;
    grid-row: span 3;
  }
}
