.nav {
  background-color: #993366;
  position: relative;
  top: 0px;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 10px 10px #00000090;

  .logo {
    display: grid;
    place-items: center;
    width: 9rem;
    height: 100%;
    // background-color: #e74a4a;
    font-size: 6rem;
    // color: #000000;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  form {
    height: 100%;
    // width: 100%;
    input,
    p {
      // background-color: #5ce74a50;
      height: 100%;
      font-size: 5rem;
    }
    input {
      width: 625px;
    }
  }
  .Right {
    margin-right: 2rem;
    margin-left: auto;
  }
}
@media screen and (max-width: 786px) {
  .nav {
    form {
      position: fixed;
      background-color: #00000080;
      padding: 1rem;
      height: 100dvh;
      width: 100%;
      top: 0;
      right: -100%;

      transition: right 300ms ease-in-out;
      &.active {
        right: 0%;
      }
      input,
      p {
        // background-color: #5ce74a50;
      }
      input {
        background-color: #fff;
        color: #121113;
        height: 5rem;
        width: 100%;
        margin-top: 8rem;
        font-size: 2.5rem;
      }
    }
  }
}
